@charset "UTF-8";
/* CSS Document */

#outercontainer{
	width: 1000px; 
	height: auto; 	
	color: black; 
	margin: 10px; 
	padding: 20px; 
	background-color: #b3ffd9;
}

ul {
	list-style-type: none;	
}

header{
	font-family: GFSPhilostratosRegular;
	font-size: 4em; 
	font-weight: 200;
	//width: 300px;
	width: 90%;
	height: 350px;   
	text-align: center; 
	color: blue; 
	padding: 20px; 
	margin: 20px; 	
	background-image: url(images/friendship.jpg);
	background-size: 100% 100%;
}

header: hover {
	color: yellow;	
}

#friendsimage {
	width: 30%; 
}

#question {
	font-family: RailwayRegular; 
	font-size: 3em; 
	margin: 30px; 
	padding: 10px; 
	background-color: pink; 
	color: purple;
}


#yesButton{
	font-size: 3em;
	background-color: green; 
	color: white; 	
}

.yesClicked {
	font-family: TibetRegular; 
	font-size: 1em; 	
}


#noButton {
	font-size: 3em; 	
	background-color: red; 
	color: white; 
}

footer{
	font-size: 1em;
	top: 100px; 
	bottom: 5px; 
	position: fixed; 
	text-align: center;	
	width: 200px;
	margin: 0 auto; 	
	position: relative;
}

#slide h2{
	font-family: GrundschriftNormal;	
}

#slide p{
	font-size: 1.5em; 
	font-family: GrundschriftNormal;	
}

.step1 {
	width: 80%; 	
	background-color: pink; 
	padding: 5px; 
	color: white; 
}

img .button{
	width: 100px; 
}
@media screen and (max-width: 800px) {
	#outercontainer{
		width: 790px;
	}
	header {
		width: 90%; 	
		font-family: GFSPhilostratosRegular;
		font-size: 3em; 
		font-weight: 100; 
	}
	#friendsimage {
		align: right; 
	}
	#yesButton{
		font-size: 2em;	
	}

	#noButton {
		font-size: 2em; 	
	}
	footer{
		font-size: .75em; 	
	}
} 

@media screen and (max-width: 480px) {
	#outercontainer{
		width: 450px;
	}
	header {
		width: 90%; 	
		font-family: GFSPhilostratosRegular;
		font-size: 1em; 
		font-weight: none; 
	}
	#friendsimage {

	}
	#yesButton{
		font-size: 1em;	
	}

	#noButton {
		font-size: 1em; 	
	}
	footer{
		font-size: 0.5em;

	}
} 
