#outermostcontainer{
    
}
.outercontainer{
    
}

#header{

}

h1{
    padding-top: 30px;
    font-size: 80px;
    color: black;
    text-align: center;
}

#menubar *{
    padding: 0px;
    margin: 0px;
}

#menubar
{
    background-color: #35F6F4;
    color: orange;
    font-family: Century Gothic, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none; 
}

#menubar > ul > li {
    
}

#menubar li{
	
}
#menubar li:hover{
    
}

#menubar ul ul {
    
    
}

#menubar ul li:hover ul{
    
}

.body{
    padding-top: 0px;
    background-color: #0066FF;
    margin-left: auto;
    margin-right: auto;
}


h2{
    text-align: center;
    color: black;
}

p{
    color: black;
    padding-left: 40px;
    padding-right: 30px;
}

