@charset "UTF-8";
/* CSS Document */
html {
	background-color: rgba(0, 255, 0, 0.3); 
}	
header{
	font-family: GFSNeohellenicBold;
	font-size: 3em;
	text-align:center; 
	background-color: rgba(45,45,45, 1);
	color: white;
	padding: 30px;
	width: 800px; 
	height: auto;
	position: relative;
	margin: 10px;
}	
header p {
	font-size: .4em;
	text-align: center; 
}
#screen {
	width: 800px; 
	height: 300px; 
	border: 2px solid orange; 
	background-image: url(../images/assignment_3/samsung.png), url(../images/assignment_3/windows.png), url(../images/assignment_3/hp.png), url(../images/assignment_3/dell.png), url(../images/assignment_3/apple.jpg);
	background-size: 100px 100px, 100px 100px, 100px 100px, 100px 100px, 100%; 
	background-repeat: no-repeat;
	background-position: top left, bottom left, bottom right, top right, center; 
	text-align: center; 
	font-size: 4em; 
}

body{
	position: relative;
	font-family: HankenBook;
	font-size: 1em;
	margin: 0 auto;
	width: 800px; 
	padding: 50px;

}
aside {
    height: 500px;
    position: relative;
    opacity: 0.2;
    top: 0px;
}
aside img{
	width: 90px; 
	height: 90px; 
}
aside img:hover{
	transition: 1 2s, linear 3s; 
}

#meat{
	position: relative; 
	columns: 2;
	-webkit-columns: 2; 
	-moz-columns: 2; 
}

figure{

}
figure img {
	width: 300px; 
	height: auto; 
}
figcaption{
	font-size: 1em; 
}
figure:hover figcaption{
	font-size: .5em; 
	color: purple;
	transition: opacity 2s, linear 3s; 
	position: absolute;
}
#compatibilityHeader{
	background-color: rgba(0, 0, 255, 0.3);
	color: #800000;
	padding: 20px;
	text-align: center;
	font-size: 2em; 
	font-family: GFSNeohellenicBold;
}

#compatibility{
	background-color:rgba(0, 0, 255, 0.5) ;
	color: white;
	padding: 20px;
}
